/* src/App.css */

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
}

/* src/ButtonContainer.css */
.leaf-container {
  position: fixed;
}

.leaf {
  width: 50px;
  position: fixed;
}

.leaf:nth-child(1) {
  bottom: 5%;
  left: 0%;
  animation: blowing 12s 1s linear infinite;
}

.leaf:nth-child(2) {
  bottom: 10vh;
  left: 0%;
  animation: blowing 6s linear infinite;
}

.leaf:nth-child(3) {
  bottom: 0vh;
  left: 0%;
  animation: blowing 4s 1s linear infinite;
}

.leaf:nth-child(4) {
  bottom: 20vh;
  left: 0%;
  animation: blowing 9s 3s linear infinite;
}

@keyframes blowing {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(15vw, -10vh) rotate(170deg);
  }
  65% {
    transform: translate(55vw, -12vh) rotate(550deg);
  }
  80% {
    transform: translate(70vw, -17vh) rotate(740deg);
  }
  100% {
    transform: translate(100vw, -25vh) rotate(920deg);
  }
}
